<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/fundo-site.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <!--<img src="assets/img/cleber-leao.png" alt="Leão">-->
                    </div>
                    <h1 class="presentation-title">Professor Cleber Leão</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">Cursos profissionalizantes de: <br> <br> <h6>Desenvolvimento de sistemas <br> Redes de computadores <br> Manutenção de computadores </h6></h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">
      <div class="section" id="carousel">
          <div class="container">
              <div class="tim-title">
                  <h3 class="text-center">Qual curso deseja fazer?</h3>
              </div>
              <div class="row">
                  <div class="col-md-8 mr-auto ml-auto">
                      <div class="card page-carousel">
                          <ngb-carousel>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/desenvolvedor.jpg" alt="Desenvolvedor">
                                  <div class="carousel-caption">
                                      <p class="d-inline p-2 bg-danger rounded">Desenvolvedor</p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/rede-computador.jpg" alt="Rede de Computadores">
                                  <div class="carousel-caption">
                                      <p class="d-inline p-2 bg-danger rounded">Rede de Computadores</p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/manutencao-computador.jpg" alt="Manutenção de computadores">
                                  <div class="carousel-caption">
                                      <p class="d-inline p-2 bg-danger rounded">Manutenção de computadores</p>
                                  </div>
                              </ng-template>
                          </ngb-carousel>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        <div >
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Deseja aprender mais sobre tecnologia?</h2>
                        <p class="description"><strong>Então você está no lugar certo, cursos de Desenvolvimento de Sistemas, Rede de computadores e Manutenção de Computadores.</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 download-area ml-auto mr-auto">
                        <a href="#" target="_blank" class="btn btn-primary btn-round">Desenvolvedor</a>
                        <a href="#" target="_blank" class="btn btn-success btn-round">Redes</a>
                        <a href="#" target="_blank" class="btn btn-warning btn-round">Manutenção</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
